/* Work in-progress */

* { box-sizing: border-box }

body {
  font-family: 'Roboto Mono', sans-serif;
  font-family: Roboto, sans-serif;
  line-height: 1.625;
  margin: 0;
  color: #111;
  background-color: #fff;
}

code, pre, samp, .mono {
  font-family: 'Roboto Mono', monospace;
}

a:not(.btn) {
  color: #08b;
  text-decoration: none;
  background-image: linear-gradient(transparent, transparent 93.75%, #0be 93.75%)
}

a:not(.btn):hover {
  background-image: linear-gradient(transparent, transparent 87.5%, #0be 87.5%)
}

.black { color: #111 }
.white { color: #fff }
.navy  { color: #047 }
.blue  { color: #08b }
.aqua  { color: #0be }
.red   { color: #f53 }

.bg-black { background-color: #111 }
.bg-white { background-color: #fff }
.bg-navy  { background-color: #047 }
.bg-blue  { background-color: #08b }
.bg-aqua  { background-color: #0be }
.bg-red   { background-color: #f53 }
